############################################################################
#####Datos de configuracion del Portal#

rutaArchivo=C:\\ConfiguracionPruebas\\REVERSION.xlsx
clienteId=l7c06c8f20b5bc4661a4098d6599699bc0
clienteSecret=eeed1f2a12cc4997b69d7d2072700c16
urlToken=https://apinp.puntoscolombia.com:8443/auth/oauth/v2/token
rutaCertificado=C:\\ConfiguracionPruebas\\pco-p384_firm.p12
claveCertificado=B53E8FFC-378F-4FD1-ABA6-5968E357B893
rutaCACertJava=C:\\Program Files\\Java\\jdk1.8.0_211\\jre\\lib\\security\\cacerts
claveCACertJava=changeit
